---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Plex Media Server
  plex:
    image: plexinc/pms-docker
    hostname: {{ plex.subdomain }}.{{ domain }}
    networks:
      - traefik_network
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/plex:/config"
      - "{{ storage_dir }}/Music:/data/Music"
      - "{{ storage_dir }}/Videos/Movies:/data/Movies"
      - "{{ storage_dir }}/Videos/TV:/data/TV"
      - "{{ storage_dir }}/temp/transcode:/transcode"
    environment:
      - TZ={{ common_timezone }}
      - PLEX_CLAIM={{ plex_claim }}
      - ADVERTISE_IP=http://{{ homelab_ip }}:32400/
    ports:
      - "32400:32400"
      - "3005:3005"
      - "8324:8324"
      - "32469:32649"
      - "1900:1900/udp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.plex.loadbalancer.server.scheme=http"
      - "traefik.http.services.plex.loadbalancer.server.port=32400"
      - "traefik.http.routers.plex-http.rule=Host(`{{ plex.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.plex-http.entrypoints=http"
{% if not plex.https_only %}
      - "traefik.http.routers.plex-http.middlewares={% if plex.https_only %}redirect@file, {% else %}{% if plex.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.plex-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.plex.rule=Host(`{{ plex.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.plex.entrypoints=https"
      - "traefik.http.routers.plex.middlewares={% if plex.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.plex.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.plex.tls.certresolver=dns"
      - "traefik.http.routers.plex.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.plex.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.plex.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.plex-tor-http.rule=Host(`{{ plex.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.plex-tor-http.entrypoints=http"
      - "traefik.http.routers.plex-tor-http.middlewares={% if plex.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
