---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: photoprism/photoprism:latest
    restart: unless-stopped
    networks:
      - traefik_network
    environment: # Run "photoprism help" and "photoprism config" too see all config options and current values
      PHOTOPRISM_URL: "{{ photoprism.subdomain }}.{{ domain }}"
      PHOTOPRISM_TITLE: "PhotoPrism"
      PHOTOPRISM_SUBTITLE: "Browse your life"
      PHOTOPRISM_DESCRIPTION: "Personal Photo Management powered by Go and Google TensorFlow. Free and open-source."
      #PHOTOPRISM_AUTHOR: "Anonymous"
      #PHOTOPRISM_TWITTER: "@browseyourlife"
      #PHOTOPRISM_UPLOAD_NSFW: "true"
      #PHOTOPRISM_HIDE_NSFW: "false"
      #PHOTOPRISM_EXPERIMENTAL: "false"
      #PHOTOPRISM_DEBUG: "false"
      #PHOTOPRISM_READONLY: "false"
      #PHOTOPRISM_PUBLIC: "false"
      # Plain text or bcrypt hash (escape "$" with "$$")
      PHOTOPRISM_ADMIN_PASSWORD: "{{lookup('password', './settings/passwords/photoPrism_password chars=digits')}}"
      # Plain text only (username "photoprism")
      PHOTOPRISM_WEBDAV_PASSWORD: "{{lookup('password', './settings/passwords/photoPrism_password chars=digits')}}" 
    volumes:
      - "{{ storage_dir }}/Pictures:/photoprism/originals" # [local path]:[container path]
      - "{{ storage_dir }}/Pictures/PhotoPrismImport:/photoprism/import" # [local path]:[container path] (optional)
      - "{{ volumes_root }}/ownphotos/thumbnails/:/photoprism/cache" # keep thumbnail cache
      - "{{ volumes_root }}/ownphotos/db/:/photoprism/database" # keep database files
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.photoprism.loadbalancer.server.scheme=http"
      - "traefik.http.services.photoprism.loadbalancer.server.port=2342"
      - "traefik.http.routers.photoprism-http.rule=Host(`{{ photoprism.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.photoprism-http.entrypoints=http"
{% if not photoprism.https_only %}
      - "traefik.http.routers.photoprism-http.middlewares={% if photoprism.https_only %}redirect@file, {% else %}{% if photoprism.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.photoprism-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.photoprism.rule=Host(`{{ photoprism.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.photoprism.entrypoints=https"
      - "traefik.http.routers.photoprism.middlewares={% if photoprism.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.photoprism.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.photoprism.tls.certresolver=dns"
      - "traefik.http.routers.photoprism.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.photoprism.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.photoprism.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.photoprism-tor-http.rule=Host(`photoprism.{{ tor_domain }}`)"
      - "traefik.http.routers.photoprism-tor-http.entrypoints=http"
      - "traefik.http.routers.photoprism-tor-http.middlewares={% if photoprism.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}